# 1.1 Importando bibliotecas

In [1]:
import pandas as pd 
import numpy as np

# 1.2 Lendo a planilha

In [12]:
df = pd.read_csv('../../data/raw/DH_2022_Br_Regioes_20240423.xlsx - Cor_raça do responsável.csv')

# 1.3 Visualizar primeiras linhas

In [4]:
print(df)

      N        Regiao Cor/Raça  Domicílios Rústicos  Domicílios Improvisados  \
0   1.0         Norte   Branca               14.017                   20.568
1   1.0         Norte    Parda               84.660                  174.608
2   1.0         Norte    Preta               15.608                    9.845
3   NaN         Norte   Outras                2.708                    9.248
4   2.0      Nordeste   Branca               33.039                   60.241
5   2.0      Nordeste    Parda              182.159                  320.610
6   2.0      Nordeste    Preta               51.994                   39.817
7   NaN      Nordeste   Outras                5.787                    9.609
8   3.0       Sudeste   Branca               26.140                   83.780
9   3.0       Sudeste    Parda               21.899                  158.461
10  3.0       Sudeste    Preta                3.878                   36.725
11  NaN       Sudeste   Outras                0.000                    6.027
12  4.0           Sul   Branca               78.247                   45.894
13  4.0           Sul    Parda               39.904                   14.098
14  4.0           Sul    Preta                6.860                    4.690
15  NaN           Sul   Outras              870.000                    2.801
16  5.0  Centro-Oeste   Branca                8.713                   18.434
17  5.0  Centro-Oeste    Parda               18.815                   49.934
18  5.0  Centro-Oeste    Preta                8.531                    5.734
19  NaN  Centro-Oeste   Outras                1.712                    5.988
20  6.0        Brasil   Branca              160.157                  228.917
21  6.0        Brasil    Parda              347.438                  717.711
22  6.0        Brasil    Preta               86.871                   96.811
23  NaN        Brasil   Outras               11.077                   33.673

   Habitação Precária  Cômodos  Unidades conviventes déficit  Coabitação  \
0              34.585    1.648                        34.034      35.682
1             259.268   14.035                       177.282     191.317
2              25.453    1.239                        23.608      24.847
3              11.956    0.000                         5.556       5.556
4              93.280  765.000                        52.988      53.754
5             502.769   14.603                       212.316     226.920
6              91.811    2.237                        72.809      75.046
7              15.396    0.000                        10.735      10.735
8             109.920   17.713                       166.575     184.288
9             180.360   19.819                       190.448     210.267
10             40.603   15.311                        62.591      77.902
11              6.027    3.791                         8.085      11.875
12            124.141    3.587                        51.632      55.219
13             54.002    1.278                        25.977      27.255
14             11.550  869.000                        13.109      13.978
15              3.671    0.000                         1.329       1.329
16             27.147    3.199                        12.919      16.118
17             68.749    9.725                        42.935      52.661
18             14.265    1.364                        12.984      14.348
19              7.700  364.000                       418.000     782.000
20            389.074   26.913                       318.149     345.061
21          1.065.149   59.461                       648.959     708.419
22            183.682   21.020                       185.100     206.121
23             44.750    4.155                        26.123      30.278

         Ônus Déficit Habitacional (Habitação Precária + Coabitação + Ônus)
0      32.709                                            102.977
1     131.972                                            582.557
2      15.625                                             65.926
3       4.358                                             21.869
4     170.863                                            317.897
5     394.640                                          1.124.329
6     115.647                                            282.503
7      10.172                                             36.303
8     670.827                                            965.036
9     680.275                                          1.070.902
10    249.133                                            367.638
11     22.163                                             40.066
12    277.572                                            456.932
13    122.449                                            203.707
14     42.662                                             68.189
15      3.798                                              8.798
16     87.105                                            130.370
17    168.263                                            289.672
18     38.589                                             67.202
19      3.958                                             12.441
20  1.239.076                                          1.973.211
21  1.497.599                                          3.271.167
22    461.656                                            851.458
23     44.449                                            119.477

# 1.4.1 Renomear colunas

In [13]:
df.rename(columns={
    'Regiao' : 'regiao',
    'Cor/Raça' : 'cor_raca',
    'Domicílios Rústicos' : 'domicilios_rusticos',
    'Domicílios Improvisados' : 'domicilios_improvisados',
    'Habitação Precária' : 'habitacao_precaria',
    'Cômodos' : 'comodos',
    'Unidades conviventes déficit' : 'unidades_conviventes_deficit',
    'Coabitação' : 'coabitacao',
    'Ônus' : 'onus',
    'Déficit Habitacional (Habitação Precária + Coabitação + Ônus)' : 'deficit_original'
}, inplace=True)

df.head()

,N,regiao,cor_raca,domicilios_rusticos,domicilios_improvisados,habitacao_precaria,comodos,unidades_conviventes_deficit,coabitacao,onus,deficit_original
0,1.0,Norte,Branca,14.017,20.568,34.585,1.648,34.034,35.682,32.709,102.977
1,1.0,Norte,Parda,84.660,174.608,259.268,14.035,177.282,191.317,131.972,582.557
2,1.0,Norte,Preta,15.608,9.845,25.453,1.239,23.608,24.847,15.625,65.926
3,NaN,Norte,Outras,2.708,9.248,11.956,0.000,5.556,5.556,4.358,21.869
4,2.0,Nordeste,Branca,33.039,60.241,93.280,765.000,52.988,53.754,170.863,317.897

# 1.4.2 Removendo pontos e convertendo para inteiros

In [14]:
colunas_excluir = ["regiao", "cor_raca", 'N']

colunas_converter = [col for col in df.columns if col not in colunas_excluir]

for col in colunas_converter:
    df[col] = (
        df[col]
        .astype(str).
        str.replace('.', '', regex=False)
        .str.replace(',', '.', regex=False)
    )
    df[col] = pd.to_numeric(df[col], errors='coerce')

print(df.dtypes)
print(df)

N                               float64
regiao                           object
cor_raca                         object
domicilios_rusticos               int64
domicilios_improvisados           int64
habitacao_precaria                int64
comodos                           int64
unidades_conviventes_deficit      int64
coabitacao                        int64
onus                              int64
deficit_original                  int64
dtype: object
      N        regiao cor_raca  domicilios_rusticos  domicilios_improvisados  \
0   1.0         Norte   Branca                14017                    20568
1   1.0         Norte    Parda                 8466                   174608
2   1.0         Norte    Preta                15608                     9845
3   NaN         Norte   Outras                 2708                     9248
4   2.0      Nordeste   Branca                33039                    60241
5   2.0      Nordeste    Parda               182159                    32061
6   2.0      Nordeste    Preta                51994                    39817
7   NaN      Nordeste   Outras                 5787                     9609
8   3.0       Sudeste   Branca                 2614                     8378
9   3.0       Sudeste    Parda                21899                   158461
10  3.0       Sudeste    Preta                 3878                    36725
11  NaN       Sudeste   Outras                    0                     6027
12  4.0           Sul   Branca                78247                    45894
13  4.0           Sul    Parda                39904                    14098
14  4.0           Sul    Preta                  686                      469
15  NaN           Sul   Outras                 8700                     2801
16  5.0  Centro-Oeste   Branca                 8713                    18434
17  5.0  Centro-Oeste    Parda                18815                    49934
18  5.0  Centro-Oeste    Preta                 8531                     5734
19  NaN  Centro-Oeste   Outras                 1712                     5988
20  6.0        Brasil   Branca               160157                   228917
21  6.0        Brasil    Parda               347438                   717711
22  6.0        Brasil    Preta                86871                    96811
23  NaN        Brasil   Outras                11077                    33673

    habitacao_precaria  comodos  unidades_conviventes_deficit  coabitacao  \
0                34585     1648                         34034       35682
1               259268    14035                        177282      191317
2                25453     1239                         23608       24847
3                11956        0                          5556        5556
4                93280     7650                         52988       53754
5               502769    14603                        212316       22692
6                91811     2237                         72809       75046
7                15396        0                         10735       10735
8               109920    17713                        166575      184288
9               180360    19819                        190448      210267
10               40603    15311                         62591       77902
11                6027     3791                          8085       11875
12              124141     3587                         51632       55219
13               54002     1278                         25977       27255
14               11550     8690                         13109       13978
15                3671        0                          1329        1329
16               27147     3199                         12919       16118
17               68749     9725                         42935       52661
18               14265     1364                         12984       14348
19                7700     3640                          4180        7820
20              389074    26913                        318149      345061
21             1065149    59461                        648959      708419
22              183682     2102                          1851      206121
23               44750     4155                         26123       30278

       onus  deficit_original
0     32709            102977
1    131972            582557
2     15625             65926
3      4358             21869
4    170863            317897
5    394640           1124329
6    115647            282503
7     10172             36303
8    670827            965036
9    680275           1070902
10   249133            367638
11    22163             40066
12   277572            456932
13   122449            203707
14    42662             68189
15     3798              8798
16    87105            130370
17   168263            289672
18    38589             67202
19     3958             12441
20  1239076           1973211
21  1497599           3271167
22   461656            851458
23    44449            119477

# 1.4.3 Tratando dados nulos na coluna N

In [15]:
if 'N' in df.columns:
    df.rename(columns={'N': 'id_regiao'}, inplace=True)

df['id_regiao'].fillna(method='ffill', inplace=True)

df['id_regiao'] = df['id_regiao'].astype(int)


print("DataFrame após o tratamento:")
print(df.head(8))

print("\nContagem de nulos na coluna 'id_regiao' após o tratamento:")
print(df['id_regiao'].isnull().sum())

DataFrame após o tratamento:
   id_regiao    regiao cor_raca  domicilios_rusticos  domicilios_improvisados  \
0          1     Norte   Branca                14017                    20568
1          1     Norte    Parda                 8466                   174608
2          1     Norte    Preta                15608                     9845
3          1     Norte   Outras                 2708                     9248
4          2  Nordeste   Branca                33039                    60241
5          2  Nordeste    Parda               182159                    32061
6          2  Nordeste    Preta                51994                    39817
7          2  Nordeste   Outras                 5787                     9609

   habitacao_precaria  comodos  unidades_conviventes_deficit  coabitacao  \
0               34585     1648                         34034       35682
1              259268    14035                        177282      191317
2               25453     1239                         23608       24847
3               11956        0                          5556        5556
4               93280     7650                         52988       53754
5              502769    14603                        212316       22692
6               91811     2237                         72809       75046
7               15396        0                         10735       10735

     onus  deficit_original
0   32709            102977
1  131972            582557
2   15625             65926
3    4358             21869
4  170863            317897
5  394640           1124329
6  115647            282503
7   10172             36303

Contagem de nulos na coluna 'id_regiao' após o tratamento:
0

C:\Users\mtand\AppData\Local\Temp\ipykernel_7604\2382343644.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['id_regiao'].fillna(method='ffill', inplace=True)
C:\Users\mtand\AppData\Local\Temp\ipykernel_7604\2382343644.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['id_regiao'].fillna(method='ffill', inplace=True)

# 1.5 Validação e correção da coluna deficit total

In [17]:
df['deficit_total'] = df['habitacao_precaria'] + df['coabitacao'] + df['onus']
df.drop(columns=['id_regiao', 'deficit_original'], inplace=True)

df.head()

,regiao,cor_raca,domicilios_rusticos,domicilios_improvisados,habitacao_precaria,comodos,unidades_conviventes_deficit,coabitacao,onus,deficit_total
0,Norte,Branca,14017,20568,34585,1648,34034,35682,32709,102976
1,Norte,Parda,8466,174608,259268,14035,177282,191317,131972,582557
2,Norte,Preta,15608,9845,25453,1239,23608,24847,15625,65925
3,Norte,Outras,2708,9248,11956,0,5556,5556,4358,21870
4,Nordeste,Branca,33039,60241,93280,7650,52988,53754,170863,317897

# 1.6 Separação dos dados Regiões Vs. Brasil

In [18]:
df_regioes = df[df['regiao'] != 'Brasil'].copy()
df_brasil = df[df['regiao'] == 'Brasil'].copy()

print(df_regioes.head())
print(df_brasil.head())

     regiao cor_raca  domicilios_rusticos  domicilios_improvisados  \
0     Norte   Branca                14017                    20568
1     Norte    Parda                 8466                   174608
2     Norte    Preta                15608                     9845
3     Norte   Outras                 2708                     9248
4  Nordeste   Branca                33039                    60241

   habitacao_precaria  comodos  unidades_conviventes_deficit  coabitacao  \
0               34585     1648                         34034       35682
1              259268    14035                        177282      191317
2               25453     1239                         23608       24847
3               11956        0                          5556        5556
4               93280     7650                         52988       53754

     onus  deficit_total
0   32709         102976
1  131972         582557
2   15625          65925
3    4358          21870
4  170863         317897
    regiao cor_raca  domicilios_rusticos  domicilios_improvisados  \
20  Brasil   Branca               160157                   228917
21  Brasil    Parda               347438                   717711
22  Brasil    Preta                86871                    96811
23  Brasil   Outras                11077                    33673

    habitacao_precaria  comodos  unidades_conviventes_deficit  coabitacao  \
20              389074    26913                        318149      345061
21             1065149    59461                        648959      708419
22              183682     2102                          1851      206121
23               44750     4155                         26123       30278

       onus  deficit_total
20  1239076        1973211
21  1497599        3271167
22   461656         851459
23    44449         119477

# 1.7 Verificando dados após limpeza

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   regiao                        24 non-null     object
 1   cor_raca                      24 non-null     object
 2   domicilios_rusticos           24 non-null     int64
 3   domicilios_improvisados       24 non-null     int64
 4   habitacao_precaria            24 non-null     int64
 5   comodos                       24 non-null     int64
 6   unidades_conviventes_deficit  24 non-null     int64
 7   coabitacao                    24 non-null     int64
 8   onus                          24 non-null     int64
 9   deficit_total                 24 non-null     int64
dtypes: int64(8), object(2)
memory usage: 2.0+ KB